repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-merge-conflict # prevent committing files with merge conflicts
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
      - id: flake8  # checks for flake8 errors
  - repo: https://github.com/psf/black
    rev: 21.9b0
    hooks:
      - id: black  # runs black formatting
#  - repo: https://github.com/codespell-project/codespell
#    rev: v2.0.0
#    hooks:
#      - id: codespell # Spellchecker
#        args: [-L, nd, --skip, "*ipynb,*.html,*.png,*.gz,./build,./__pycache__,./cwinpy.egg-info,./dist,./htmlcov,./docs/_build,./docs/_images,./docs/comparisons/scripts/data,./docs/comparisons/scripts/outputs,./docs/comparisons/scripts/__pycache__,./cwinpy/_version.py,./logo,./.git", --ignore-words=.dictionary.txt]
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.3.0
    hooks:
      - id: seed-isort-config
        args: [--application-directories, 'src']
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort # sort imports alphabetically and separates import into sections
        args: [-tc, -sp=setup.cfg, --filter-files]
