include LICENSE README.md
include cwinpy/_version.py
include cwinpy/heterodyne/*.c
recursive-include cwinpy/test/data *
include cwinpy/pkg_data/S5/hw_inj/*.par
include cwinpy/pkg_data/S6/hw_inj/*.par
include cwinpy/pkg_data/O1/hw_inj/*.par
include cwinpy/pkg_data/O2/hw_inj/*.par
include cwinpy/pkg_data/O3/hw_inj/*.par
