include LICENSE README.md
include cwinpy/_version.py
include cwinpy/heterodyne/*.c
include cwinpy/heterodyne/*.h
recursive-include test/ *.py
recursive-include test/data *
cwinpy/data/S5/hw_inj/*.par
cwinpy/data/S6/hw_inj/*.par
cwinpy/data/O1/hw_inj/*.par
cwinpy/data/O2/hw_inj/*.par
cwinpy/data/O3/hw_inj/*.par
