# This workflow to run the test suite for CWInPy

name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: 3.9
            container: containers.ligo.org/cwinpy/cwinpy-containers/cwinpyci-python39
          - python-version: 3.10
            container: containers.ligo.org/cwinpy/cwinpy-containers/cwinpyci-python310

    container: ${{ matrix.container }}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Install CWInPy
      run: |
        # install in editable mode due to Cython files https://stackoverflow.com/a/48331262/1862861
        python -m pip install -e .
    - name: Run test suite
      run: |
        # disable numba jit for code coverage (see https://stackoverflow.com/a/26894553/1862861)
        export NUMBA_DISABLE_JIT=1
        pytest --cov=cwinpy
    - name: Run codecov
      run: |
        codecov
    - name: Full coverage
      if: startsWith(github.ref, 'refs/tags')
      run: |
        # include all test for a release
        pytest --cov=cwinpy --run-slow
        codecov
